.footer{
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 0;
    background-color: #131418;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.footer > .fa-heart{
    margin: 0 5px;
}

.footer-attribute > a{
    text-decoration: none;
    color: #61DAFB;
}