nav{
    height: 12vh;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo{
    margin-left: 40px;
}

.logo > .logo-link{
    text-decoration: none;
}
.logo > .logo-link > h2{
    color: #4371f7;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-item{
    text-decoration: none;
    margin-right: 80px;
    font-size: 1.2rem;
}

.nav-link{
    text-decoration: none;
}

.nav-link:hover{
    color: #4371f7;
}